<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../stilovi/style.css">
  </head>
  <body>
        <form action="/users/changepassword" method="POST">
          <form style="display:flex; flex-grow: 1; justify-content: center;">
            <fieldset enabled>
              <div class="form-group">
                <label style="color:white" for="inputPassword5">Trenutna lozinka</label>
                <input type="password" id="passwordchange" name="passwordchange" class="form-control" aria-describedby="passwordHelpBlock">
              </div>
              <div class="form-group">
                <label style="color:white" for="inputPassword5">Nova lozinka</label>
                <input type="password" id="passwordchange2" name="passwordchange2" class="form-control" aria-describedby="passwordHelpBlock">
                <small id="passwordHelpBlock" class="form-text text-muted">
                <text style="color: white">Šifra mora biti najmanje 6 karaktera, uz obaveznu kombinaciju slova i brojeva.</text>
                </small>
              </div>
              <div class="form-group">
                <label style="color: white" for="inputPassword5">Potvrda nove lozinke</label>
                <input type="password" id="passwordchange3" name="passwordchange3" class="form-control" aria-describedby="passwordHelpBlock">
                <small id="passwordHelpBlock" class="form-text text-muted">
                    <text style="color: white">Šifra mora biti najmanje 6 karaktera, uz obaveznu kombinaciju slova i brojeva.</text>
                </small>
              </div>
              <input class="nevidljivo" name="name" value="<%=name%>"></input>
              <button type="submit" class="btn btn-primary">Promeni lozinku</button>
            </div>
            </fieldset>
          </form>
  </body>
</html>