* {
  box-sizing: border-box;
}
body {
  font-family: Verdana, sans-serif;
  margin: 0;
}
.mySlides {
  display: none;
}
img {
  vertical-align: middle;
}

.container-fluid {
  overflow: hidden;
  padding: 0;
}

.btnnovi {
  background-color: rgba(216, 97, 97, 0.8);
}

.nevidljivo {
  visibility: hidden;
}
.SlikaVelicina {
  max-width: 400px;
  max-height: 400px;
  min-width: 150px;
  min-width: 150px;
}
.glavniDivProfila {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 70px;
}
.horizontalno {
  padding-left: 10%;
}
.list-group {
  margin-bottom: 5%;
  margin-top: 2%;
  margin-right: 4%;
}

.btnRight {
  float: right;
}

.row,
.row1 {
  padding-top: 40px;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
}

.card-body {
  text-align: center;
}

.card {
  margin-top: 2%;
}

.red2 {
  display: flex;
  flex-direction: row;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.topdiv {
  padding-top: 70px;
}

.red {
  margin-top: 80px;
  padding-left: 80px;
  padding-right: 80px;
  display: flex;
  flex-direction: column;
}

.cardd {
  display: flex;
  flex-grow: 1;
  padding-left: 20px;
  padding-right: 20px;
  flex-direction: row;
  border: 2px solid #fff;
}

.slideshow-container {
  margin-top: 2%;
}

.novidiv {
  display: flex;
}

.card-body {
  text-align: center;
}
.card-texttt {
  color: white;
}
.card-titlee {
  color: white;
  font-size: 50px;
}

.korisnici {
  padding-top: 70px;
}

.card-title {
  padding: 10px;
  font-size: 50px;
}

.whole {
  display: flex;
  justify-content: center;
}

.card-textt {
  font-size: 20px;
}
.card-text {
  font-size: 20px;
}

.naslov {
  flex-grow: 1;
  padding-top: 30px;
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
  color: white;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}
